@charset "UTF-8";

/* Todas as Media Estilos base */

@media print {
    body {
        background: white;
    }

    img#phone {display: none;}
    img#pc {display: none;}
    img#tablet {display: none;}
    img#tv {display: none;}
    img#print {display: block;}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    img#phone {display: none;}
    img#pc {display: block;}
    img#tablet {display: none;}
    img#tv {display: none;}
    img#print {display: none;}
}

@media screen and (min-width: 900px) {
    img#phone {display: none;}
    img#pc {display: none;}
    img#tablet {display: block;}
    img#tv {display: none;}
    img#print {display: none;}
}
@media screen and (min-width: 1200px) {
    img#phone {display: none;}
    img#pc {display: none;}
    img#tablet {display: none;}
    img#tv {display: block;}
    img#print {display: none;}
}