@charset "UTF-8";

/* Estilos base */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100vh;
    
}

body {
    
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    background-color: rgb(250, 248, 248);
    width: 400px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.493);
}

img {
    display: block;
    margin: auto;
    padding: 10px;
}

img#phone {display: block;}
img#pc {display: none;}
img#tablet {display: none;}
img#tv {display: none;}
img#print {display: none;}