@charset "utf-8";

/* CSS Document */
* {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            
        }

        ::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }
        img {
            width: 100vw;
        }
        a {
            display: block;
            
            margin: 20px auto;
            padding: 20px;
            text-align: center;
            background-color: #d12424;
            color: #fff;
            text-decoration: none;
            font-weight: bolder;
            border-radius: 5px;
        }
        a:hover {
            background-color: red;
        }
        body {
            width:100vw ;
            height: 100vh;
            background: black url('imagens/tela-youtube.jpg') no-repeat top center;
            background-size: cover;
        }